.layout {
   height: 100%;
   width: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.layout-canvas {
   height: calc(100% - 40px);
   width: 100%;
   display: flex;
}

.header {
   width: 100%;
   height: 40px;
   background-color: lightblue;
   display: flex;
   font-size: 20px;
   justify-content: space-between;
}

.layout-left-side {
   display: None;
}

.layout-right-side {
   height: 100%;
   width: 100%;
}


@media screen and (min-width: 650px){
   .layout {
       width: 50%;
   }

   .layout-canvas {
       height: 50%;
       width: 100%;
       display: flex;
   }

   .layout-right-side {
       width: 70%;
   }

   .layout-left-side {
       display: block;
       height: 100%;
       width: 30%;
       background-color: darkgray;
   }

   .layout {
       width: 50%;
   }

   .layout-canvas {
       height: 50%;
   }
}
